body {
  margin: 0 auto;
}
.googleLogo {
  margin: 0 auto;
  margin-top: 89px;
  padding-bottom: 27px;
}
.search {
  height: 233px;
  padding-top: 109px;
  margin: 0 auto;
  width: 60rem;
  position: relative;
}
.searchbar {
  background: #fff;
  display: flex;
  border: 1px solid #dfe1e5;
  box-shadow: none;
  border-radius: 24px;
  z-index: 3;
  height: 46px;
  margin: 0 auto;
  width: 584px;
  padding-top: 6px;
}
.searchbar:hover {
  box-shadow: 0 1px 6px 0 rgba(32, 33, 36, 0.28);
  border-color: rgba(223, 225, 229, 0);
}
.searchbar:focus {
  box-shadow: 0 1px 6px 0 rgba(32, 33, 36, 0.28);
  border-color: rgba(223, 225, 229, 0);
  outline: none;
}
.submitButtons {
  padding-top: 18px;
  width: 571px;
}
.searchButton {
  background-image: -webkit-linear-gradient(top, #f5f5f5, #f1f1f1);
  background-color: #f2f2f2;
  border: 1px solid #f2f2f2;
  border-radius: 4px;
  color: #5f6368;
  font-family: arial, sans-serif;
  font-size: 14px;
  margin: 11px 4px;
  padding: 0 16px;
  line-height: 27px;
  height: 36px;
  min-width: 54px;
  text-align: center;
  cursor: pointer;
  user-select: none;
}

.searchButton:hover {
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.1);
  background-image: -webkit-linear-gradient(top, #f8f8f8, #f1f1f1);
  background-color: #f8f8f8;
  border: 1px solid #c6c6c6;
  color: #222;
}
.searchButton:focus {
  border: 1px solid #4d90fe;
  outline: none;
}
.footerBar {
  height: 40px;
  position: fixed;
  width: 100%;
  font-size: 14px;
  background: #f2f2f2;
  line-height: 40px;
  border-top: 1px solid #e4e4e4;
  bottom: 0px;
  font-family: Arial, sans-serif;
}
#footerLeft {
  float: left;
}
#footerRight {
  float: right;
  margin-right: 30px;
}
.footerLink {
  color: #5f6368;
  padding-left: 27px;
  text-decoration: none;
}
.footerLink:hover {
  text-decoration: underline;
}
.footerLink:active {
  color: #dd4b39;
}

@media only screen and (max-height: 768px) {
  .googleLogo {
    margin-top: 47px;
  }
}
